<template>
  <div>
    <h2>New Shipment</h2>
    <Estimator />
  </div>
</template>
<script>
import { Estimator } from "@eotl/core/components";

export default {
  components: { Estimator }
}
</script>
