<template>
    <div>
        <h2 class="mb-3">Groups</h2>
        <hr class="thick mb-5">
        <div v-if="groups">
            <ul class="list-unstyled">
                <li v-for="group in groups" :key="group.id" class="mb-5">
                    <div class="row">
                        <div class="col-4">
                            <h5>{{ group.name }}</h5>
                            <p>
                                {{ group.description }}
                            </p>
                            <p>
                                <small>ID: {{ group.id }}<br>
                                    Created: {{ group.created_at }}<br>
                                    Updated: {{ group.updated_at }}<br>
                                    <span v-if="group.deleted_at != '0001-01-01T00:00:00Z'">
                                    Deleted: {{ group.deleted_at }}
                                    </span>
                                </small>
                            </p>
                        </div>
                        <div class="col-5">
                            <small class="text-monospace">Members</small>
                            <div v-if="group.members" class="">
                                <ul class="list-unstyled">
                                    <li v-for="member in group.members" v-bind:key="member.id">
                                        <identityKey v-bind:identity="member.identity_key" />
                                        <hr class="light">
                                    </li>
                                </ul>
                            </div>
                            <div v-else>
                                <p>No members assigned to this group yet</p>
                            </div>
                            <button type="button" class="btn btn-secondary"
                                @click="btnShowAssignMember(group.id)"
                                data-toggle="modal" data-target="#staticBackdrop">
                                Assign Member
                            </button>
                        </div>
                        <div class="col-3">
                            <small class="text-monospace">Short Codes</small>
                            <div v-if="group.short_codes" class="">
                                <ul class="list-unstyled">
                                    <li v-for="short_code in group.short_codes" v-bind:key="short_code.id">
                                        <shortCode v-bind:shorty="short_code" />
                                        <hr class="light">
                                    </li>
                                </ul>
                            </div>
                            <div v-else>
                                <p>No short codes have been created yet.</p>
                            </div>
                            <button @click="generateShortCodes(group.id)" class="btn btn-primary">
                                Make Short Codes
                            </button>
                        </div>
                    </div>
                    <hr>
                </li>
            </ul>
        </div>
        <div v-else-if="groups.length == 0">
            <div class="alert">
                <p>No groups have been created for this instance yet.</p>
            </div>
        </div>

        <hr class="thick">
        <div class="row">
            <div class="col-6">
                <h3>Creating Groups</h3>
                <p>Groups are ways to organize deliveries for users who place
                orders, the dispatcher and amongst couriers doing the work.</p>
            </div>
            <div class="col-6">
                <h3>&nbsp;</h3>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" v-model="new_group.name" class="form-control">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea v-model="new_group.description" class="form-control">
                    </textarea>
                </div>
                <div class="form-group">
                    <button @click="createGroup" class="btn btn-primary btn-block">
                      Create Group
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal: Assign Member -->
        <modalAssignGroupMember
            v-bind:group_id="assign_member_group_id"
            v-bind:member="assign_member"
        />

    </div>
</template>
<script>
import _ from 'lodash';
import { mapState } from 'vuex';

import { fetcherSsr } from '@eotl/core/composables';
import { IdentityKey } from '@eotl/core/components';

import ShortCode from '@/components/ShortCode';
import ModalAssignGroupMember from '@/components/ModalAssignGroupMember';

export default {
    components: {
        IdentityKey,
        ShortCode,
        ModalAssignGroupMember
    },
    data: function() {
        return {
            groups: [],
            new_group: {
                name: '',
                description: ''
            },
            assign_member_group_id: '',
            assign_member: {
                identity_key: {
                    identity: ''
                },
                role: 'member'
            },
            showNewMember: false
        }
    },
    computed: mapState(['config', 'daemon', 'account', 'identity']),
    created() {
        let vm = this
        fetcherSsr.ssrGet('groups').then((data) => {
            vm.groups = data
        })
    },
    methods: {
        createGroup() {
            if (this.new_group.name == '') return false;
            let vm = this
            fetcherSsr.ssrPost('groups', this.new_group).then((data) => {
                vm.groups.push(data);
                vm.new_group.name = '';
                vm.new_group.description = '';
            })
        },
        btnShowAssignMember(group_id) {
            this.assign_member_group_id = group_id
            this.showNewMember = true
        },
        generateShortCodes(group_id) {
            let vm = this
            let endpoint = 'groups/' + group_id + '/short-codes'
            fetcherSsr.ssrPost(endpoint, {}).then((data) => {
                let group = _.find(vm.groups, { 'id': group_id })
                console.log(data)
                group.short_codes.push(data)
            });
        }
    }
}
</script>
