<template>
  <div class="mb-5">
      <h2 class="mb-3">Users</h2>
      <hr class="thick mb-5">
      <ul class="list-unstyled">
        <li v-for="key in keys" v-bind:key="key.identity">
            <div class="row">
                <div class="col-8">
                    <strong>
                        {{ key.identity }}
                    </strong>
                </div>
                <div class="col-2">
                    {{ key.status }}
                </div>
                <div class="col-2 text-right">
                    <div v-if="key.identity == identity.publicKey">
                        {{ key.level }} (You)
                    </div>
                    <div v-else-if="key.identity != identity.publicKey">
                    <select v-model="key.level" @change="changeLevel($event)">
                        <option
                            v-for="level in config.levels"
                            v-bind:key="level"
                            v-bind:value="level">
                            {{ level }}
                        </option>
                    </select>
                    </div>
                    <div v-else class="text-center">
                        <strong>{{ key.level }}</strong>
                    </div>
                </div>
            </div>
            <code v-if="key.info">{{ key.info }}</code>
            <hr>
        </li>
      </ul>
  </div>
</template>
<script>
import { mapState } from 'vuex';
import { fetcherSsr } from '@eotl/core/composables';

export default {
    components: { },
    mixins: [fetcherSsr],
    data: function() {
        return {
            keys: []
        }
    },
    computed: mapState(['config', 'daemon', 'account', 'identity']),
    mounted() {
    },
    created() {
        let vm = this
        fetcherSsr.ssrGet('keys').then((data) => {
            vm.keys = data
        })
    },
    methods: {
        changeLevel(event) {
            console.log('Change user level', event.target.value)
        }
    }
}
</script>
