/* assignUtils.js
 *
 * For use on /home  /shipments  /shipment/{id}
 *
 * 1. Get Groups current user can see
 * 2. Get Invites of group
 *
*/
<template>
    <div class="modal fade" id="modalAssignCode" tabindex="-1"
        data-backdrop="static" data-keyboard="false"
        aria-labelledby="modalAssignCodeLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalAssignCodeLabel">
                Assign Code
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <label>Group </label>
              <select v-model="group_id" class="form-control">
                <option v-for="group in groups" v-bind:key="group.id">
                    {{ group }}
                </option>
              </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancel
            </button>
            <button @click="btnAssignShortCode" type="button" class="btn btn-primary">
                Assign Code
            </button>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import { fetcherSsr } from '@eotl/core/composables'';

export default {
  name: 'ModalAssignCode',
  data: function () {
    return {
      group_id: '',
      groups: []
    }
  },
  computed: mapState(['config']),
  created: function() {
    this.fetchGroups();
  },
  methods: {
    fetchGroups: function() {
      let vm = this
      fetcherSsr.ssrGet('groups').then((data) => {
          console.log(data)
          vm.groups = data
      })
    },
    btnAssignShortCode: function() {
      console.log('now Assign the Code')
    }
  }
}
