<template>
  <div id="app" class="pt-3">
    <header class="navbar navbar-expand-lg navbar-app mb-5">
        <router-link :to="{ name: 'landing' }" class="navbar-app">
          <img v-bind:src="'/images/' + config.logo" />
          <span class="d-none d-sm-inline-block">{{ config.name }}</span>
        </router-link>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto position-relative">
            <li class="nav-item" v-if="account.status == 'active'">
              <router-link :to="{ name: 'account' }" class="nav-link">
                <img src="/images/user.svg" />
                Account
              </router-link>
            </li>
            <li class="nav-item" v-if="['new', 'restore'].indexOf(account.status) > -1">
              <a
                class="nav-link dropdown-toggle"
                href="/#"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                <img src="/images/globe.svg" />
                {{ config.language }}
              </a>
              <div class="dropdown-menu" aria-labelledby="open-disptach">
                <a v-for="lang in config.languages" v-bind:key="lang" class="dropdown-item" href="#de">
                  {{ lang }}
                </a>
              </div>
            </li>
          </ul>
        </nav>
    </header>
    <div v-if="alert.show" v-bind:class="'mb-5 alert alert-dismissable alert-' + alert.style">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4>{{ alert.title }}</h4>
      <p class="mb-0">{{ alert.message }}</p>
    </div>
    <router-view></router-view>
    <footer>
      <div class="footer-inner">
        <div class="d-flex">
          <div class="pl-2 text-left">
            <a class="link-logo" href="https://eotl.supply">
              <img src="/images/eotl-black.svg" height="32" />
            </a>
            <router-link :to="{ name: 'about' }">
              About
            </router-link>
            <router-link :to="{ name: 'support' }">
              Support
            </router-link>
          </div>
          <div class="ml-auto pr-2 text-right">
            <a href="#" @click="toggleDebug">Debug</a>
          </div>
        </div>
      </div>
    </footer>
<div v-if="debug">
<h5>Debug</h5>
<pre class="mb-5"><code>config: {{ config }}
daemon: {{ daemon }}
account: {{ account }}
identity: {{ identity }}
</code></pre>
</div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import 'jquery';

export default {
  name: 'App',
  computed: mapState(['config', 'daemon', 'debug', 'alert', 'account', 'accountCert', 'accountState', 'identity']),
  mounted() {
    this.$store.dispatch('loadConfig');
    this.$store.dispatch('loadDaemon');
  },
  methods: {
    toggleDebug() {
      if (this.$store.state.debug) {
        this.$store.state.debug = false
      } else {
        this.$store.state.debug = true
      }
    }
  }
};
</script>
